/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 6em;
		font-family: helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	h2{
		font-size: 4em;
		font-family: helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	h3{
		font-size: 2em;
		font-family: helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	
	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#congrats_section,
	#taken_section,
	#section3{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(../imgs/main1.jpg);
		
		padding: 20% 0 0 0;
	}
	#section1{
		background-image: url(../imgs/02.jpg);
		padding: 15% 0 0 0;
	}
	#section2{
		background-image: url(../imgs/portal.jpg);
		padding: 15% 0 0 0;
	}
	#congrats_section{
		background-image: url(../imgs/thanks_2.jpg);
		padding: 20% 0 0 0;
	}
	#taken_section{
		background-image: url(../imgs/taken.jpg);
		padding: 25% 0 0 0;
	}
	
        .sticky {
  position: absolute;
  bottom: 0;
}


